/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&family=Rubik+Pixels&display=swap');
body { margin:0 ; overflow:hidden; background-color: #312e2e;}
a { color:#eee ; text-decoration:none }
header > h1 { margin:0 ; font-size:12px ;
	border-bottom:1px #999 solid ; padding:5px 10px ; line-height:17px }
h2{
	font-size:12px;
	text-align: center;
}
.container{display:flex;flex-direction:column;justify-content:center;align-items:center;height:100vh;overflow:hidden;}ul{margin:0;list-style:none;font-size:3vw;transform-style:preserve-3d;}li{position:absolute;top:50%;left:50%;opacity:0.8;}@keyframes spin{0%{transform:rotateX(-100deg)rotate(0);}100%{transform:rotateX(-100deg)rotate(-360deg);}}.slidecontainer{position:absolute;bottom:20%;}
p {
color: rgb(255, 232, 24);
font-family: "Rubik Pixels", monospace;
font-size: 48px;
line-height: 1.4;
margin-bottom: 0;
text-align:center;
}
.c {
	z-index: 999;
text-transform:uppercase;
  }
ul li {
color: rgb(255, 0, 0);
font-family: "Jacquard 12", monospace;

  }
.info {
	position: fixed;
	top: 10px; /* Distance from the top of the viewport */
	right: 10px; /* Distance from the right of the viewport */
	width: 150px; /* Width of the text box */
	padding: 5px; /* Padding inside the text box */
	background-color: #880000; /* Background color */
  }